.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.recordList {
  display: flex;
  justify-content: space-between;
  margin: 15px 0 0 0;
}

.fontSize {
  font-size: 18px;
}

.fontColor {
  color: $white;
}